<style>

    .bg {
        background-color: yellow;
    }
</style>

<div class="bg">
    <h3>Finding Assignment Page</h3>
    <br />

    <label for="tbClearButton" class="demo-text cw-320 mb-1">
        Kullanıcı
    </label>
    <DxTextBox @bind-Text="@TextValue"
               ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
               BindValueMode="BindValueMode.OnInput"
               NullText="Enter username"
               CssClass="cw-320"
               InputId="tbClearButton" />
           </div>

 


@code {
    string TextValue { get; set; } = "Sample text";
}
